.vs/ 
ClinicaHumaita/bin/
ClinicaHumaita/obj/
ClinicaHumaita/bin/Debug/netcoreapp3.1/appsettings.json
ClinicaHumaita/bin/Debug/netcoreapp3.1/ClinicaHumaita.dll
ClinicaHumaita/bin/Debug/netcoreapp3.1/ClinicaHumaita.pdb
ClinicaHumaita/bin/Debug/netcoreapp3.1/ClinicaHumaita.runtimeconfig.dev.json
ClinicaHumaita/bin/Debug/netcoreapp3.1/ClinicaHumaita.Views.dll
ClinicaHumaita/bin/Debug/netcoreapp3.1/ClinicaHumaita.Views.pdb
ClinicaHumaitaTests/obj/ClinicaHumaitaTests.csproj.nuget.dgspec.json
ClinicaHumaitaTests/obj/Debug/netcoreapp3.1/ClinicaHumaitaTests.assets.cache
ClinicaHumaitaTests/obj/Debug/netcoreapp3.1/ClinicaHumaitaTests.csprojAssemblyReference.cache
.vs/ClinicaHumaita/config/applicationhost.config
ClinicaHumaita/obj/ClinicaHumaita.csproj.nuget.dgspec.json
ClinicaHumaita/obj/project.assets.json
ClinicaHumaita/obj/project.nuget.cache
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.assets.cache
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.csprojAssemblyReference.cache
ClinicaHumaitaTests/obj/ClinicaHumaitaTests.csproj.nuget.dgspec.json
ClinicaHumaitaTests/obj/project.assets.json
ClinicaHumaitaTests/obj/project.nuget.cache
ClinicaHumaitaTests/obj/Debug/netcoreapp3.1/ClinicaHumaitaTests.assets.cache
ClinicaHumaitaTests/obj/Debug/netcoreapp3.1/ClinicaHumaitaTests.csprojAssemblyReference.cache
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.assets.cache
ClinicaHumaitaTests/obj/Debug/netcoreapp3.1/ClinicaHumaitaTests.assets.cache
ClinicaHumaitaTests/obj/Debug/netcoreapp3.1/ClinicaHumaitaTests.csprojAssemblyReference.cache
ClinicaHumaita/bin/Debug/netcoreapp3.1/ClinicaHumaita.dll
ClinicaHumaita/bin/Debug/netcoreapp3.1/ClinicaHumaita.pdb
ClinicaHumaita/bin/Debug/netcoreapp3.1/ClinicaHumaita.runtimeconfig.dev.json
ClinicaHumaita/bin/Debug/netcoreapp3.1/ClinicaHumaita.Views.dll
ClinicaHumaita/bin/Debug/netcoreapp3.1/ClinicaHumaita.Views.pdb
ClinicaHumaita/obj/ClinicaHumaita.csproj.nuget.dgspec.json
ClinicaHumaita/obj/project.assets.json
ClinicaHumaita/obj/project.nuget.cache
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.assets.cache
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.csproj.CoreCompileInputs.cache
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.csproj.FileListAbsolute.txt
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.csprojAssemblyReference.cache
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.dll
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.pdb
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.Views.dll
ClinicaHumaita/obj/Debug/netcoreapp3.1/ClinicaHumaita.Views.pdb
ClinicaHumaita/obj/Debug/netcoreapp3.1/project.razor.json
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/Person/Create.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/Person/Index.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/User/Create.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/User/Edit.cshtml.g.cs
ClinicaHumaita/obj/Debug/netcoreapp3.1/Razor/Views/User/Login.cshtml.g.cs
ClinicaHumaitaTests/obj/ClinicaHumaitaTests.csproj.nuget.dgspec.json
ClinicaHumaitaTests/obj/project.assets.json
ClinicaHumaitaTests/obj/project.nuget.cache
ClinicaHumaitaTests/obj/Debug/netcoreapp3.1/ClinicaHumaitaTests.assets.cache
ClinicaHumaitaTests/obj/Debug/netcoreapp3.1/ClinicaHumaitaTests.csprojAssemblyReference.cache
ClinicaHumaita/ClinicaHumaita.csproj.user
.vs/ClinicaHumaita/v16/.suo
.vs/ClinicaHumaita/config/applicationhost.config
